mixin tags
  .tags
    .tags__title ТЕГИ

    a(href="#" title="").tags__item АКСЕССУАРЫ
    a(href="#" title="").tags__item ВЕЛОКУЛЬТУРА
    a(href="#" title="").tags__item ИСТОРИЯ
    a(href="#" title="").tags__item ЛИЧНЫЙ ОПЫТ
    a(href="#" title="").tags__item МИР
    a(href="#" title="").tags__item BROOKS
    a(href="#" title="").tags__item PASHLEY