doctype html
html(class="no-js", lang="ru")

  include ../modules/head/head
  include ../modules/footer/footer
  include ../modules/menu/menu
  include ../modules/topbar/topbar
  include ../modules/slider-main/slider-main
  include ../modules/baner-main/baner-main
  include ../modules/brands/brands
  include ../modules/popular-goods/popular-goods
  include ../modules/product/product
  include ../modules/last-news/last-news
  include ../modules/news-item/news-item
  include ../modules/support-main/support-main
  include ../modules/instagram/instagram
  include ../modules/rating/rating

  include ../modules/sidebar/sidebar
  include ../modules/basket/basket
  include ../modules/filter/filter
  include ../modules/product-sort/product-sort

  include ../modules/inside-top/inside-top
  include ../modules/pagination/pagination
  
  include ../modules/catalog-item/catalog-item

  include ../modules/product-images/product-images
  include ../modules/product-info/product-info
  include ../modules/product-tabs/product-tabs

  head
    +head(head.defaults)
  body.page
    block variables
      - var whiteMenu = false
      //- variables
    .off-canvas-wrapper
      .off-canvas-wrapper-inner(data-off-canvas-wrapper)
        //- +menu-mixin(pages, whiteMenu)
        .off-canvas-content(data-off-canvas-content)
          +topbar()
          block content
            h1 hello
    block footer
      +footer()

      //- Main scripts. You can replace it, but I recommend you to leave it here
      script(src='%=static=%js/main%=hash=%%=min=%.js')
      script.
        $(document).ready(function() {
          $(document).foundation();
        });