extends ./_layout.jade



block append variables
  - var absoluteMenu = true;


block content
  .row
    .columns.text-center
      .title
        h1 Велосипеды
  .row.align-center
    - for (var i = 0; i < 11; i++)
      .columns.small-12.medium-4
        +catalog-item
  .row
    .columns.text-center
      a(href="#" title="").button все Велосипеды
  +instagram