mixin filter(page)
  .filter
    .filter__title категории
   
    .filter-block
      .filter-block__title ЦЕНА
      .slider(data-slider data-initial-end="83000" data-end="83000" data-start="63000")
        span.slider-handle(data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput1")
        span.slider-fill(data-slider-fill)
        span.slider-handle(data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput2")
        span.slider-handle-fixed.slider-handle-fixed--left
        span.slider-handle-fixed.slider-handle-fixed--right
        .slider-output
          .row.full.noGutter.align-middle
            .columns
              input(type="text" disabled).slider-output__item.text-right#sliderOutput1
            .columns.shrink
              .slider-output__line -
            .columns
              input(type="text" disabled).slider-output__item#sliderOutput2

    - if (page == 'accessories')
      .filter-block
        .filter-block__title Тип продукции

        .custom-scroll(style="height: 230px")
          +checkbox('product-type', 'Цветы на руль')
          +checkbox('product-type', 'Рули')
          +checkbox('product-type', 'Клаксоны')
          +checkbox('product-type', 'Педали')
          +checkbox('product-type', 'Флягодержатели')
          +checkbox('product-type', 'Покрышки')
          +checkbox('product-type', 'Подседельные зажимы')
          +checkbox('product-type', 'Сумки')
          +checkbox('product-type', 'Детские кресла')
          +checkbox('product-type', 'Грипсы')
          +checkbox('product-type', 'Очиститель втулки')
          +checkbox('product-type', 'Вкладыши')
          +checkbox('product-type', 'Ватрушки')
          +checkbox('product-type', 'Футболки')
          +checkbox('product-type', 'Фонари')
          +checkbox('product-type', 'Шлема')
          +checkbox('product-type', 'Корзинки')
          +checkbox('product-type', 'Ленты на руль')
          +checkbox('product-type', 'Седла')
          +checkbox('product-type', 'Колпачки')
          +checkbox('product-type', 'Чехлы')
          +checkbox('product-type', 'Крылья')
          +checkbox('product-type', 'Наклейки')
          +checkbox('product-type', 'Багажники')
          +checkbox('product-type', 'Звонки')
          +checkbox('product-type', 'Звезды')
          +checkbox('product-type', 'Зеркала')

    .filter-block
      .filter-block__title Бренды

      .custom-scroll(style="height: 170px")
        +checkbox('brand', 'Electra')
        +checkbox('brand', 'Creme')
        +checkbox('brand', 'Electra')
        +checkbox('brand', 'Schwinn')
        +checkbox('brand', 'Pashley')
        +checkbox('brand', 'Erenpreiss')
        +checkbox('brand', 'Giant')
        +checkbox('brand', 'Shulz')
        +checkbox('brand', 'Strida')
        +checkbox('brand', 'SaintVelo')
        +checkbox('brand', 'Fuji')
        +checkbox('brand', 'Polo&Bike')
    
    - if (page != 'accessories')
      .filter-block
        .filter-block__title ЦВЕТ

        .custom-scroll(style="height: 80px")
          .row
            .columns.shrink
              +checkbox-colored('color', 'black', 'Черный')
              +checkbox-colored('color', 'gray', 'Серый')
              +checkbox-colored('color', 'white', 'Белый')
              +checkbox-colored('color', 'red', 'Красный')
              +checkbox-colored('color', 'green', 'Зеленый')
            .columns.shrink
              +checkbox-colored('color', 'orange', 'Оранжевый')
              +checkbox-colored('color', 'yellow', 'Желтый')
              +checkbox-colored('color', 'lime', 'Салатовый')
              +checkbox-colored('color', 'turquoise', 'Бирюзовый')
              +checkbox-colored('color', 'blue', 'Синий')

      .filter-block
        .filter-block__title Возраст

        .row
          .columns.shrink
            +checkbox('age', 'Детский')
            +checkbox('age', 'Подростковый')
            +checkbox('age', 'Взрослый')

      .filter-block
        .filter-block__title Размер рамы

        +checkbox('frame-size', 'XS').checkbox--text
        +checkbox('frame-size', 'S').checkbox--text
        +checkbox('frame-size', 'M').checkbox--text
        +checkbox('frame-size', 'L').checkbox--text
        +checkbox('frame-size', 'XL').checkbox--text
        +checkbox('frame-size', 'XXL').checkbox--text

      .filter-block
        .filter-block__title Размер колес

        +checkbox('wheel-size', '10').checkbox--text
        +checkbox('wheel-size', '12').checkbox--text
        +checkbox('wheel-size', '16').checkbox--text
        +checkbox('wheel-size', '18').checkbox--text
        +checkbox('wheel-size', '20').checkbox--text
        +checkbox('wheel-size', '24').checkbox--text
        +checkbox('wheel-size', '26').checkbox--text
        +checkbox('wheel-size', '28').checkbox--text
        +checkbox('wheel-size', '29').checkbox--text

      .filter-block
        .filter-block__title Количество скоростей

        +checkbox('number-of-speeds', '3i').checkbox--text
        +checkbox('number-of-speeds', '5i').checkbox--text
        +checkbox('number-of-speeds', '7i').checkbox--text
        +checkbox('number-of-speeds', '8i').checkbox--text
        +checkbox('number-of-speeds', '7D').checkbox--text
        +checkbox('number-of-speeds', '8D').checkbox--text
        +checkbox('number-of-speeds', '21D').checkbox--text
        +checkbox('number-of-speeds', '24D').checkbox--text

      .filter-block
        .filter-block__title Система передач

        +checkbox('transmission-system', value="планетарная втулка")
        +checkbox('transmission-system', value="классическая система")
        +checkbox('transmission-system', value="односкоростная")