.filter {
	margin-top: 30px;
	padding: 10px 15px;

	border: 2px solid $light-green;
	&__title {
		margin-bottom: 10px;
		padding-bottom: 10px;

		text-transform: uppercase;

		border-bottom: 1px solid $light-green;

		font-family: $GothamProBold;
		font-size: rem-calc(14);
		i {
			position: relative;
			top: 3px;

			padding-left: 5px;

			color: $medium-green;

			font-size: rem-calc(18);
		}
	}
}

.filter-block {
	margin-top: 20px;
	padding-bottom: 15px;

	border-bottom: 1px solid $light-gray;
	&__title {
		margin-bottom: 10px;

		text-transform: uppercase;

		color: #666;

		font-size: rem-calc(14);
	}
}

.slider-handle {
	border: 2px solid $medium-gray;
	border-radius: 50%;
	background-color: #fff;
	&:hover {
		background-color: #fff;
	}
	&:focus {
		outline: none;
	}
}

.slider-handle-fixed {
	position: absolute;

	width: 5px;
	height: 5px;

	border-radius: 50%;
	background-color: $dark-gray;

	@include vertical-center;
	&--left {
		left: 0;
	}
	&--right {
		right: 0;
	}
}

.slider-output {
	padding-top: 10px;

	font-size: rem-calc(10);
	&__item {
		height: auto;
		margin: 0;

		border: 0;

		font-size: rem-calc(10);
	}
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: $light-green;
}

.mCSB_scrollTools .mCSB_dragger:hover {
	.mCSB_dragger_bar {
		background-color: $dark-green;
	}
}

.mCSB_scrollTools .mCSB_draggerRail {
	background-color: transparent;
}

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
	background-color: $dark-green;
}
