.filter {
	margin-top: 30px;
	padding: 10px 15px;

	border: 2px solid $light-green;
	&__title {
		margin-bottom: 10px;
		padding-bottom: 10px;

		text-transform: uppercase;

		border-bottom: 1px solid $light-green;

		font-family: $GothamProBold;
		font-size: rem-calc(14);
		i {
			position: relative;
			top: 3px;

			padding-left: 5px;

			color: $medium-green;

			font-size: rem-calc(18);
		}
	}
}

.filter-block {
	margin-top: 20px;
	padding-bottom: 15px;

	border-bottom: 1px solid $light-gray;
	&__title {
		margin-bottom: 10px;

		text-transform: uppercase;

		color: #666;

		font-size: rem-calc(14);
	}
}

.slider-handle {
	border: 2px solid $medium-gray;
	border-radius: 50%;
	background-color: #fff;
	&:hover {
		background-color: #fff;
	}
	&:focus {
		outline: none;
	}
}

.slider-handle-fixed {
	position: absolute;

	width: 5px;
	height: 5px;

	border-radius: 50%;
	background-color: $dark-gray;

	@include vertical-center;
	&--left {
		left: 0;
	}
	&--right {
		right: 0;
	}
}

.slider-output {
	padding-top: 10px;

	font-size: rem-calc(10);
	&__item {
		height: auto;
		margin: 0;

		border: 0;

		font-size: rem-calc(10);
	}
}

.checkbox {
	position: relative;
	input {
		margin-bottom: 0;

		opacity: 0;
	}
	label {
		color: #666;

		font-size: rem-calc(12);
	}
	.icon {
		position: absolute;
		top: 1px;
		left: 0;

		box-sizing: border-box;

		font-size: rem-calc(14);
		&--black {
			background-color: #000;
		}
		&--gray {
			background-color: gray;
		}
		&--white {
			border: 1px solid gray;
			background-color: #fff;
			&:before {
				color: gray;
			}
		}
		&--red {
			background-color: red;
		}
		&--orange {
			background-color: orange;
		}
		&--yellow {
			background-color: yellow;
		}
		&--green {
			background-color: green;
		}
		&--blue {
			background-color: blue;
		}
	}
	&.active {
		.icon {
			&:before {
				content: "\41";
			}
		}
	}
	&--colored {
		.icon {
			top: 4px;

			width: 12px;
			height: 12px;

			color: #fff;
			border-radius: 50%;
		}
		&.active {
			.icon {
				&:before {
					content: "\42";

					font-size: rem-calc(8);

					@include absolute-center;
				}
			}
		}
	}
	&--text {
		display: inline;

		margin-right: 5px;
		label {
			display: inline;

			font-size: rem-calc(14);
		}
		input {
			position: absolute;
		}
		&.active {
			font-family: $GothamProBold;
			label {
				color: $light-green;
			}
		}
	}
}
