mixin product-info
  .product-info
    .product-info__top
      .row
        .columns
          h1 creme lungo
          .product-info-reviews
            .row.full.noGutter
              .columns.shrink
                +rating
              .columns.shrink
                .product-info-reviews__count 1 Отзыв(вы) |
              .columns.shrink
                a(href="#" title="").product-info-reviews__add-review Добавить отзыв
          .product-info-cost 84,000Р
          .product-info-availability Наличие : 
            span В наличии
        .columns.shrink
          img(src="http://placehold.it/115x115&text=brand")
    .product-info__bottom
      p.product-info-text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent ac massa at ligula laoreet iaculis. Vestibulum volutpat pretium libero. Donec posuere vulputate arcu. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Quisque ut nisi.

      .row
        .columns
          .product-info-count.productCount
            .product-info-count__control.productCountMinus -
            input(type="text" value="1").product-info-count__value.productCountValue
            .product-info-count__control.productCountPlus +
        .columns
          a(href="#" title="").product-info-add-basket.button
            i.icon.icon-plus
            span в корзину

    .product-info-share
      .row.full.noGutter.align-middle
        .columns.shrink
          .product-info-share__title Поделиться:
        .columns.shrink
          a(href="#" title="")
            i.icon.icon-vk
        .columns.shrink
          a(href="#" title="")
            i.icon.icon-facebook
        .columns.shrink
          a(href="#" title="")
            i.icon.icon-instagram