mixin inside-top
  .row.full.noGutter.text-center
    .columns
      .inside-top
        .inside-top__content(class="insideTopTogglerParent")
          h1.inside-top__title РАСТАБАЙК, ВЕЛОЧОППЕР, ХИПСТЕРСКИЙ ВЕЛОСИПЕД
          .inside-top__text.inside-top__text--partial(class="insideTopTogglerHide")
            p Купить велочоппер (растабайк) в Санкт-Петербурге и Москве – задача не из простых: они представлены далеко не во всех велосалонах. К счастью, есть Велокультура, где вы сможете найти огромный выбор байков, которые
          .inside-top__text.inside-top__text--hidden(class="insideTopTogglerShow")
            p Купить велочоппер (растабайк) в Санкт-Петербурге и Москве – задача не из простых: они представлены далеко не во всех велосалонах. К счастью, есть Велокультура, где вы сможете найти огромный выбор байков, которые практически повторяют дизайн мотоциклов и всегда удостаиваются многочисленных комплиментов и восхищенных взглядов. Можно купить растабайк в магазинах Москвы и Санкт-Петербурга: наши салоны есть в двух самых крупных городах, для вашего удобства также работает интернет-магазин.
            p Если у вас нет возможности приехать в салон, интернет-магазин – отличное решение для покупки растабайка. Оформление заказа займет от силы десять минут, также мы осуществляем доставку. Купить раста байки (велочопперы), фото которых представлены на нашем сайте – значит обеспечить себя вниманием со стороны окружающих. И, разумеется, вам будет очень удобно на таком велосипеде за счет его особой посадки. Стоит один раз увидеть фото велосипеда чоппера, чтобы влюбиться в эту модель раз и навсегда! Эти велосипеды созданы для людей с характером, уверенных в себе и бескомпромиссных.
            p Как правило, растабайк – это кастомный велосипед, собранный вручную. Однако интерес и спрос на них так высок, что теперь и в веломагазине вы можете купить велосипеды чопперы; цены в Москве и Санкт-Петербурге, а также в регионах, вы найдете на этом сайте. Здесь всегда есть из чего выбрать, и не нужно ждать, когда его соберут.
            p Этот хипстерский велосипед (растабайк), фото которого есть в нашей галерее, может стать вашим буквально сегодня – достаточно осуществить заказ, и мы привезем его к вашей двери. Подчеркните свой свободный и оригинальный стиль необычным велосипедом. Не даром чоппер часто называют велосипедом хипстера. Эта модель – стиляга среди велосипедов!
            p Прежде чем сделать окончательный выбор, советуем посмотреть все фото велочопперов. Вы точно найдете «свой» велосипед. Раста байки не оставят вас равнодушными!
          .inside-top__more(class="insideTopToggler") УЗНАТЬ БОЛЬШЕ +