mixin catalog-item
  a(href="#" title="").catalog-item
    .catalog-item__img
      img(src="https://veloculture.ru/uploads/category/550_13/main_thumb_13.jpg" alt="")
    .catalog-item__title ШОССЕЙНЫЕ