.catalog-item {
  display: block;

  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 20px;

  transition: all .4s ease-in-out;
  border: 2px solid $light-green;
  &__img {
    position: relative;

    height: 235px;
    img {
      @include absolute-center;
    }
  }
  &__title {
    text-align: center;
    text-transform: uppercase;

    color: #939292;

    font-family: $GothamProBold;
    font-size: rem-calc(24);
  }
  &:hover {
    border-color: $dark-green;
    box-shadow: 0 20px 30px rgba(0,0,0,.2);
  }
}
