mixin menu()
  .row.align-justify
    .columns.shrink
      .left-logo
      .left-social.text-center
        a(href="#" title="").left-social__item
          i.icon.icon-facebook
        a(href="#" title="").left-social__item
          i.icon.icon-vk
        a(href="#" title="").left-social__item
          i.icon.icon-instagram     
    .columns.shrink
      a(href="#" aria-label="Close left" data-close).close-left
        i.icon.icon-close-delete
  .left-menu
    .left-menu__item 
      a(href="#" title="") Велосипеды
      i.icon.icon-down-open-mini
      - var data = {items: ['Велочопперы', 'Шоссейные', 'Фиксы', 'Круизеры', 'Складные', 'Беговелы', 'Городские', 'Подростковые', 'Комфортные', 'Детские', 'Электрические']}
      +menu-drop(data)
    .left-menu__item 
      a(href="#" title="") Аксессуары
      i.icon.icon-down-open-mini
      - var data = {items: ['Цветы на руль', 'Рули', 'Клаксоны', 'Педали', 'Флягодержатели', 'Покрышки', 'Подседельные зажимы', 'Сумки', 'Детские кресла', 'Грипсы', 'Очиститель втулки', 'Вкладыши', 'Ватрушки', 'Футболки', 'Фонари', 'Шлема', 'Корзинки', 'Ленты на руль', 'Седла', 'Колпачки', 'Чехлы', 'Крылья', 'Наклейки', 'Багажники', 'Звонки', 'Звезды', 'Зеркала']}
      +menu-drop(data)
    .left-menu__item 
      a(href="#" title="") Бренды
      i.icon.icon-down-open-mini
      - var data = {items: ['Electra', 'Schwinn', 'Pashley', 'Erenpreiss', 'Giant', 'Shulz', 'Strida', 'SaintVelo', 'Fuji', 'Polo&Bike']}
      +menu-drop(data)
    .left-menu__item 
      a(href="#" title="") Блог
    .left-menu__item 
      a(href="#" title="") Поддержка
      i.icon.icon-down-open-mini
      - var data = {items: ['FAQ', 'Доставка', 'Магазины', 'О нас']}
    .left-menu__item 
      a(href="#" title="") Контакты

mixin menu-drop(data)
  .menu-drop
    - each val in data.items
      a(href="#" title="").menu-drop__item= val
