mixin accessories-block
    .accessories-block
      .accessories-block__img
        img(src="http://placehold.it/175x130&text=image")
      .accessories-block__title сумка на велосипед | черная
      .accessories-block__cost 4500р