.product-images {
  margin-top: 40px;
}

.product-images-big {
  margin-bottom: 10px;

  border: 2px solid $light-green;
  border-radius: 3px;
}

.product-images-small {
  &__item {
    padding-right: 5px;
    padding-left: 5px;
    img {
      width: 100%;

      border: 1px solid $light-green;
    }
  }
  &:hover {
    .product-images-small__control {
      display: block !important;
    }
  }
  &__control {
    position: absolute;
    z-index: 9;

    display: none !important;

    box-sizing: border-box;
    width: 57px;
    height: 57px;

    color: $white;
    border: 2px solid $white;
    border-radius: 50%;

    font-size: rem-calc(44);

    @include breakpoint(small) {
      width: 22px;
      height: 22px;

      font-size: rem-calc(12);
    }
    @include breakpoint(xlarge) {
      width: 27px;
      height: 27px;

      font-size: rem-calc(14);
    }
    @include vertical-center;
    &--previous {
      left: 15px;
      i {
        left: 4px;
      }
    }
    &--next {
      right: 15px;
      i {
        right: 4px;
      }
    }
    i {
      position: absolute;
      top: 4px;
    }
  }
}
