mixin categories-menu
  .categories-menu
    .categories-menu__title Категории

    a(href="#" title="").categories-menu__item
      i.icon.icon-plus
      span Новые велосипеды

    a(href="#" title="").categories-menu__item
      i.icon.icon-plus
      span Кастом и редизайн

    a(href="#" title="").categories-menu__item
      i.icon.icon-plus
      span Аксессуары

    a(href="#" title="").categories-menu__item
      i.icon.icon-plus
      span Походы и кемпинги 

    a(href="#" title="").categories-menu__item
      i.icon.icon-plus
      span Путешествия

    a(href="#" title="").categories-menu__item
      i.icon.icon-plus
      span Подсказки и советы

    a(href="#" title="").categories-menu__item
      i.icon.icon-plus
      span Велоклуб