mixin footer(data)
  footer.footer
    .row
      .columns.show-for-large
        .footer-about
          .footer__title О НАС

          .footer-about__text Велокультура объединяет самые достойные бренды городских велосипедов в мире с возможностью покупки онлайн и доставки по всей России, интересных людей и события, формирующие велосипедное движение.
     
      .columns.small-12.large-expand
        .footer-info
          .footer__title ИНФОРМАЦИЯ
          .row.full.noGutter
            .columns
              a(href="#" title="").footer-info__item FAQs
              a(href="#" title="").footer-info__item Размеры
              a(href="#" title="").footer-info__item Доставка
              a(href="#" title="").footer-info__item Возврат
              a(href="#" title="").footer-info__item Скидки
              a(href="#" title="").footer-info__item Подарки
            .columns
              a(href="#" title="").footer-info__item Магазины
              a(href="#" title="").footer-info__item Помощь
              a(href="#" title="").footer-info__item О нас
              a(href="#" title="").footer-info__item Карта сайта
    
      .columns.small-12.large-expand
        .footer-subscribe
          .footer__title РАССЫЛКА

          .footer-subscribe__text Оставьте нам свой E-mail и получайте последние новости о новых моделях и скидках

          form(method="" action="").footer-subscribe-form
            input(type="email" value="" placeholder="Ваш E-mail").footer-subscribe-form__field
            input(type="submit" value="отправить").footer-subscribe-form__submit.tiny.button

      .columns.small-12.large-expand
        .footer-contacts
          .footer__title Контакты

          .footer-contacts__title Адреса магазинов:

          .footer-contacts__address 127015, Москва, Дизайн-Завод «ФЛАКОН» Ул. Новодмитровская, д. 1 строение 3
          .footer-contacts__text Часы работы: 11:00-21:00
          .footer-contacts__text Без выходных
          .footer-contacts__text Телефон: 
            a(href="#" title="") +7 812 4073423

          .footer-contacts__address 192007, Санкт-Петербург, КП «ТКАЧИ» ул. Боровая, д. 47 литер В
          .footer-contacts__text Часы работы: 11:00-21:00
          .footer-contacts__text Без выходных
          .footer-contacts__text Телефон: 
            a(href="#" title="") +7 495 0665646

          .footer-contacts__email Email: info@veloculture.ru

          .footer-contacts-social
            .row.noGutter.full
              .columns.shrink
                a(href="#" title="").footer-contacts-social__item
                  i.icon-vk
              .columns.shrink
                a(href="#" title="").footer-contacts-social__item
                  i.icon-facebook
              .columns.shrink
                a(href="#" title="").footer-contacts-social__item
                  i.icon-instagram
  .mask