mixin slider-main()
  .slider-main
    .slider-main__item
      img(src="%=staticPrefix=%images/content/slider-1.jpg" alt="")
      figcaption.slider-main-caption 
        .slider-main-caption__title ELECTRA TICINO
        .slider-main-caption__model LEMONCIFFON
    .slider-main__item
      img(src="%=staticPrefix=%images/content/slider-1.jpg" alt="")
      figcaption.slider-main-caption 
        .slider-main-caption__title ELECTRA TICINO
        .slider-main-caption__model LEMONCIFFON
    .slider-main__item
      img(src="%=staticPrefix=%images/content/slider-1.jpg" alt="")
      figcaption.slider-main-caption 
        .slider-main-caption__title ELECTRA TICINO
        .slider-main-caption__model LEMONCIFFON
    .slider-main__item
      img(src="%=staticPrefix=%images/content/slider-1.jpg" alt="")
      figcaption.slider-main-caption 
        .slider-main-caption__title ELECTRA TICINO
        .slider-main-caption__model LEMONCIFFON