mixin slider-main()
  .slider-main.orbit(role="region" aria-label="" data-orbit)
    ul.orbit-container
      button.orbit-previous.slider-main__control.slider-main__control--previous
        i.icon-angle-left
      button.orbit-next.slider-main__control.slider-main__control--next
        i.icon-angle-right
      li.is-active.orbit-slide
        img.orbit-image(src="%=staticPrefix=%images/content/slider-1.jpg" alt="")
        figcaption.orbit-caption.slider-main-caption 
          .slider-main-caption__title ELECTRA TICINO
          .slider-main-caption__model LEMONCIFFON
      li.orbit-slide
        img.orbit-image(src="%=staticPrefix=%images/content/slider-1.jpg" alt="")
        figcaption.orbit-caption.slider-main-caption 
          .slider-main-caption__title ELECTRA TICINO
          .slider-main-caption__model LEMONCIFFON