.slider-main {
	text-align: center;
	&__item {
		img {
			margin: auto;

			@include breakpoint(small) {
				width: 70%;
			}
			@include breakpoint(large) {
				width: 90%;
			}
		}
	}
	&__control {
		position: absolute;
		z-index: 0;

		box-sizing: border-box;
		width: 57px;
		height: 57px;

		color: $light-green;
		border: 3px solid $light-green;
		border-radius: 50%;

		font-size: rem-calc(44);

		@include breakpoint(small) {
			width: 32px;
			height: 32px;

			font-size: rem-calc(22);
		}
		@include breakpoint(xlarge) {
			width: 57px;
			height: 57px;

			font-size: rem-calc(44);
		}
		@include vertical-center;
		&--previous {
			i {
				left: 2px;

				@include breakpoint(small) {
					left: 1px;
				}
			}
		}
		&--next {
			right: 0;
			i {
				right: 2px;

				@include breakpoint(small) {
					right: 1px;
				}
			}
		}
		i {
			position: absolute;
			top: 2px;
		}
	}
}

.slider-main-caption {
	text-align: center;

	font-family: $Simplifica;
	line-height: 1;
	&__title {
		text-transform: uppercase;

		color: #777;

		font-size: rem-calc(29);
	}
	&__model {
		color: #dbb432;

		font-size: rem-calc(20);
	}
}
