mixin product-sort
  .product-sort
    .row.align-middle
      .columns
        .product-sort__showed Показаны 1-12 из 30 товаров

      .columns.text-right
        .product-sort__by Сортировать по
          span Названию
            i.icon-down-open-mini