mixin product
  .product
    .product__img
      img(src="https://veloculture.ru/uploads/product/364_1731/main_thumb_1731.jpg" alt="")
    .rating.row.full.noGutter
      .rating__item
        i.icon-star-two
      .rating__item
        i.icon-star-two
      .rating__item
        i.icon-star-two
      .rating__item
        i.icon-star-half
      .rating__item
        i.icon-star
    .row.full.noGutter
      .columns.small-12
        a(href="#" title="").product__link creme lungo
      .columns.shrink.small-12
        .product__cost 84,000ла