mixin blog-entrie
  .blog-entrie
    img(src="http://placehold.it/700x510&text=image")
    .blog-entrie__title
      h1 SCHWINN: 63 ГОДА СЛУЖБЫ, И ЭТО ЕЩЕ НЕ ПРЕДЕЛ!

    .blog-entrie-meta
      .row.align-middle
        .columns
          .blog-entrie-meta__date 
            i.icon.icon-clock
            span 09 марта 2016, 15:39  | Наташа К
        .columns.shrink
          .row.full.noGutter
            .columns.shrink
              .blog-entrie-meta__item.blog-entrie-meta__item--comment
                i.icon.icon-chat-bubble
                span 1
            .columns.shrink
              .blog-entrie-meta__item.blog-entrie-meta__item--likes
                i.icon.icon-heart-empty
                span 1

    .blog-entrie__content
      p Американец Дональд Малоун приобрел свой Schwinn в далеком 1953 году, когда будучи мальчишкой служил разносчиком газеты. Это был необычный велосипед черного цвета, с прямыми линиями, тонкими покрышками и тремя (!) скоростями, поверить во что сверстникам Дональда было очень проблематично. Он сильно отличался от тех байков, к которым привыкла ребятня, – нарядных разноцветных круизеров с толстыми шинами. Это был Schwinn New World, и его хотели все мальчишки, но он был недешевым удовольствием. Мечтая о нем, Дональд начал откладывать свои сбережения, и пересчитав их однажды, решил, что этого должно быть достаточно: у него было чуть больше $75. Уверенно войдя в магазин, парень заявил, что хочет купить тот велосипед с витрины, на что хозяин огласил его стоимость – $75. На подсчет монет ушло немало времени.
      p С тех пор этот велосипед стал главным средством передвижения для Дональда: в школу и на работу, к друзьям и на более серьезные дистанции в соседние города швинн сопровождал его, а позже и его детей и служил верой и правдой. Разменяв несколько десятков лет, сменив несколько городов и профессий, Дональд всегда заботился о своем первом велосипеде, даже если не мог ездить на нем. Он пережил его кражу и возвращение в тяжелом состоянии, починил и обновил двухколесного друга. И вот теперь, когда Малоун ушел на пенсию, в свои 80 он снова проводит часы на стареньком велосипеде Schwinn и признает, что лучшие моменты жизни были связаны с этим байком.

    .row
      .columns
        .blog-entrie-tags
          a(href="#" title="").blog-entrie-tags__item велокультура
          a(href="#" title="").blog-entrie-tags__item личный опыт
      .columns.shrink
        .blog-entrie-social
          a(href="#" title="").blog-entrie-social__item.blog-entrie-social__item--vk
            i.icon.icon-vk
          a(href="#" title="").blog-entrie-social__item.blog-entrie-social__item--fb
            i.icon.icon-facebook