mixin rating
  .rating.row.full.noGutter
    .rating__item
      i.icon-star-two
    .rating__item
      i.icon-star-two
    .rating__item
      i.icon-star-two
    .rating__item
      i.icon-star-half
    .rating__item
      i.icon-star