mixin test-drive
  .test-drive
    .test-drive__wrapper
      .test-drive__content
        .test-drive__title бесплатный 
        .test-drive__title.test-drive__title--big тест драйв
        a(href="#" title="").button.tiny.test-drive__button записаться