mixin topbar(data)
  div(data-sticky-container)
    .top-bar(data-sticky data-options="marginTop:0;" data-sticky-on="small" style="width:100%; height: 123px;")
      .row.full.align-middle
        .columns.shrink
          a(href="#" data-open="offCanvas" aria-expanded="false" aria-controls="offCanvasLeft").menu-toggler
            i.icon-align-justify
        .columns.shrink
          a(href="#" title="").top-bar-compare
            .icon.icon-fontello
            span.top-bar-compare__count 0
          .top-bar-compare-pop.popMessage
            - for (var i = 0; i < 3; i++)
              .top-bar-compare-pop__item
                a(href="#" title="").top-bar-compare-pop__close
                  i.icon.icon-times
                .row.full.noGutter.align-justify.align-middle
                  .columns.shrink
                    img(src="http://placehold.it/90x70&text=image")
                  .columns
                    a(href="#" title="").top-bar-compare-pop__title GOA-3 COASTER GREY
                    .top-bar-compare-pop__cost 26000Р
            .row.text-center
              .columns
                a(href="#" title="").button.button--lined.top-bar-compare-pop__compare Сравнить
              .columns
                a(href="#" title="").button.top-bar-compare-pop__clear Очистить
        .columns
          .row.align-center.align-middle
            .columns.shrink
              .top-bar-menu.show-for-large
                .top-bar-menu__item 
                  a(href="/catalog.html" title="") Велосипеды
                    i.icon-down-open-mini
                  
                  .top-bar-menu-drop.top-bar-menu-drop--bicycles
                    .row
                      .columns
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Велочопперы
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Шоссейные
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Фиксы
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Круизеры
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Складные
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Беговелы
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Городские
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Подростковые
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Комфортные
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Детские
                      .columns
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Электрические

                .top-bar-menu__item 
                  a(href="/catalog.html" title="") Аксессуары
                    i.icon-down-open-mini

                  .top-bar-menu-drop
                    .row
                      .columns
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Цветы на руль
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Рули
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Клаксоны
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Педали
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Флягодержатели
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Покрышки
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Подседельные зажимы
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Сумки
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Детские кресла
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Грипсы
                      .columns
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Очиститель втулки
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Вкладыши
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Ватрушки
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Футболки
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Фонари
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Шлема
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Корзинки
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Ленты на руль
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Седла
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Колпачки
                      .columns
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Чехлы
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Крылья
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Наклейки
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Багажники
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Звонки
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Звезды
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Зеркала
                .top-bar-menu__item 
                  a(href="/brands.html" title="") Бренды
                    i.icon-down-open-mini

                  .top-bar-menu-drop.top-bar-menu-drop--brands
                    .row
                      .columns
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Electra
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Schwinn
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Pashley
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Erenpreiss
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Giant
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Shulz
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Strida
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span SaintVelo
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Fuji
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Polo&Bike
            .columns.shrink
              a(href="/index.html" title="").top-bar-logo
            .columns.shrink
              .top-bar-menu.show-for-large
                .top-bar-menu__item 
                  a(href="#" title="") Блог
                .top-bar-menu__item 
                  a(href="#" title="") Поддержка
                  i.icon-down-open-mini

                  .top-bar-menu-drop.top-bar-menu-drop--support
                    .row
                      .columns
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span FAQ
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Доставка
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Магазины
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span О нас
                .top-bar-menu__item 
                  a(href="#" title="") Контакты
        .columns.shrink
          .row
            .columns.shrink
              a(href="#" title="").top-bar-basket
                i.icon.icon-shopping-cart
                span.top-bar-basket__count 0
              .top-bar-basket-pop.popMessage
                - for (var i = 0; i < 3; i++)
                  .top-bar-basket-pop__item
                    a(href="#" title="").top-bar-basket-pop__close
                      i.icon.icon-times
                    .row.full.noGutter.align-justify.align-middle
                      .columns.shrink
                        img(src="http://placehold.it/90x70&text=image")
                      .columns.shrink
                        a(href="#" title="").top-bar-basket-pop__title GOA-3 COASTER GREY
                        .top-bar-basket-pop__cost 26000Р
                      .columns.shrink.align-self-bottom
                        .top-bar-basket-pop__count x1
                .row.text-center
                  .columns
                    .top-bar-basket-pop__text Сумма:
                    a(href="#" title="").button.button--lined.top-bar-basket-pop__basket Корзина
                  .columns
                    .top-bar-basket-pop__text.top-bar-basket-pop__text--bold 48,500 ₽
                    a(href="#" title="").button.top-bar-basket-pop__buy Купить
            .columns.shrink
              a(href="#" title="").top-bar-search.icon-search
            