mixin topbar(data)
  div(data-sticky-container)
    .top-bar(data-sticky data-options="marginTop:0;" style="width:100%; height: 123px;")
      .row.full.align-middle
        .columns.shrink
            a(href="#" data-open="offCanvas" aria-expanded="false" aria-controls="offCanvasLeft").menu__toggler
              i.icon-align-justify
        .columns
          .row.align-center.align-middle
            .columns.shrink
              .top-bar-menu.show-for-medium
                .top-bar-menu__item 
                  a(href="/catalog.html" title="") Велосипеды
                    i.icon-down-open-mini
                  
                  .top-bar-menu-drop
                    .row
                      .columns
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Седла
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span чехлы для велосипеда
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Седла
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span чехлы для велосипеда
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Седла
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span чехлы для велосипеда
                      .columns
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Седла
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span чехлы для велосипеда
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Седла
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span чехлы для велосипеда
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span Седла
                        a(href="#" title="").top-bar-menu-drop__item
                          i.icon.icon-plus
                          span чехлы для велосипеда

                .top-bar-menu__item 
                  a(href="/catalog.html" title="") Аксессуары
                    i.icon-down-open-mini
                .top-bar-menu__item 
                  a(href="/brands.html" title="") Бренды
                  i.icon-down-open-mini
            .columns.shrink
              a(href="/index.html" title="").top-bar-logo
            .columns.shrink
              .top-bar-menu.show-for-medium
                .top-bar-menu__item 
                  a(href="#" title="") Блог
                .top-bar-menu__item 
                  a(href="#" title="") Поддержка
                  i.icon-down-open-mini
                .top-bar-menu__item 
                  a(href="#" title="") Контакты
        .columns.shrink
          .row
            .columns.shrink
              a(href="#" title="").top-bar-basket.icon-shopping-cart
            .columns.shrink
              a(href="#" title="").top-bar-search.icon-search
            