mixin support-main
  .support-main
    .row.align-stretch
      
      .columns.small-12.medium-6
        .support-main-item
          .support-main-item__content
            .support-main-item__small для всех стандартных заказов от 30 дней
            .support-main-item__title бесплатная доставка и возврат
            a(href="#" title="").support-main-item__link Подробнее
      
      .columns.small-12.medium-6
        .support-main-item
          .support-main-item__content
            .support-main-item__small Хэй! Как мы можем тебе помочь?
            .support-main-item__title Служба поддержки 
              br
              | ответит на любые вопросы
            a(href="#" title="").support-main-item__link Подробнее