mixin baner-main
  .baner-main
    .row.align-stretch
      .columns.small-12.medium-6
        a(href="#" title="").baner-main-item.baner-main-item--big
          img(src="%=staticPrefix=%images/content/baner-1.jpg" alt="")
          .baner-main-item__caption.baner-main-item__caption--big 
            span ВСЕ ВЕЛОСИПЕДЫ
      .columns.small-12.medium-6
        .row
          .columns.small-6.medium-6
            a(href="#" title="").baner-main-item
              img(src="%=staticPrefix=%images/content/baner-2.jpg" alt="")
              .baner-main-item__caption 
                span ТЕСТ ДРАЙВ
          .columns.small-6.medium-6
            a(href="#" title="").baner-main-item
              img(src="%=staticPrefix=%images/content/baner-3.jpg" alt="")
              .baner-main-item__caption 
                span прокат
        .row
          .column
            a(href="#" title="").baner-main-item.baner-main-item--bottom
              img(src="%=staticPrefix=%images/content/baner-4.jpg" alt="")
              .baner-main-item__caption 
                span наша история