mixin sitemap-list
  .sitemap-list
    .sitemap-list-item
      a(href="#" title="") ГЛАВНАЯ
    .sitemap-list-item
      a(href="#" title="") ДОСТАВКА
    .sitemap-list-item
      a(href="#" title="") МАГАЗИНЫ
    .sitemap-list-item
      a(href="#" title="") ТЕСТ-ДРАЙВ
    .sitemap-list-item
      a(href="#" title="") КОНТАКТЫ
    .sitemap-list-item
      a(href="#" title="") О НАС

    .sitemap-list-item
      a(href="#" title="") ВЕЛОСИПЕДЫ
      
      .sitemap-list-inside
        .sitemap-list-inside-item
          a(href="#" title="") Велочопперы
        .sitemap-list-inside-item
          a(href="#" title="") Шоссейные
        .sitemap-list-inside-item
          a(href="#" title="") Фиксы
        .sitemap-list-inside-item
          a(href="#" title="") Круизеры
        .sitemap-list-inside-item
          a(href="#" title="") Складные
        .sitemap-list-inside-item
          a(href="#" title="") Беговелы
        .sitemap-list-inside-item
          a(href="#" title="") Городские
        .sitemap-list-inside-item
          a(href="#" title="") Подростковые
        .sitemap-list-inside-item
          a(href="#" title="") Комфортные
        .sitemap-list-inside-item
          a(href="#" title="") Детские
        .sitemap-list-inside-item
          a(href="#" title="") Электрические
    
    .sitemap-list-item
      a(href="#" title="") АКСЕССУАРЫ

      .sitemap-list-inside
        .sitemap-list-inside-item
          a(href="#" title="") Цветы на руль
        .sitemap-list-inside-item
          a(href="#" title="") Рули
        .sitemap-list-inside-item
          a(href="#" title="") Клаксоны
        .sitemap-list-inside-item
          a(href="#" title="") Педали
        .sitemap-list-inside-item
          a(href="#" title="") Флягодержатели
        .sitemap-list-inside-item
          a(href="#" title="") Покрышки
        .sitemap-list-inside-item
          a(href="#" title="") Подседельные зажимы
        .sitemap-list-inside-item
          a(href="#" title="") Сумки
        .sitemap-list-inside-item
          a(href="#" title="") Детские кресла
        .sitemap-list-inside-item
          a(href="#" title="") Грипсы
        .sitemap-list-inside-item
          a(href="#" title="") Очиститель втулки
        .sitemap-list-inside-item
          a(href="#" title="") Вкладыши
        .sitemap-list-inside-item
          a(href="#" title="") Ватрушки
        .sitemap-list-inside-item
          a(href="#" title="") Футболки
        .sitemap-list-inside-item
          a(href="#" title="") Фонари
        .sitemap-list-inside-item
          a(href="#" title="") Шлема
        .sitemap-list-inside-item
          a(href="#" title="") Корзинки
        .sitemap-list-inside-item
          a(href="#" title="") Ленты на руль
        .sitemap-list-inside-item
          a(href="#" title="") Седла
        .sitemap-list-inside-item
          a(href="#" title="") Колпачки
        .sitemap-list-inside-item
          a(href="#" title="") Чехлы
        .sitemap-list-inside-item
          a(href="#" title="") Крылья
        .sitemap-list-inside-item
          a(href="#" title="") Наклейки
        .sitemap-list-inside-item
          a(href="#" title="") Багажники
        .sitemap-list-inside-item
          a(href="#" title="") Звонки
        .sitemap-list-inside-item
          a(href="#" title="") Звезды
        .sitemap-list-inside-item
          a(href="#" title="") Зеркала
    
    .sitemap-list-item
      a(href="#" title="") БРЕНДЫ

      .sitemap-list-inside
        .sitemap-list-inside-item
          a(href="#" title="") SaintVelo
        .sitemap-list-inside-item
          a(href="#" title="") Cooper
        .sitemap-list-inside-item
          a(href="#" title="") Felt
        .sitemap-list-inside-item
          a(href="#" title="") Creme
        .sitemap-list-inside-item
          a(href="#" title="") Electra
        .sitemap-list-inside-item
          a(href="#" title="") Strida
        .sitemap-list-inside-item
          a(href="#" title="") Erenpreiss
        .sitemap-list-inside-item
          a(href="#" title="") Giant
        .sitemap-list-inside-item
          a(href="#" title="") Fuji
        .sitemap-list-inside-item
          a(href="#" title="") Polo&Bike
        .sitemap-list-inside-item
          a(href="#" title="") Shulz
        .sitemap-list-inside-item
          a(href="#" title="") Schwinn
        .sitemap-list-inside-item
          a(href="#" title="") Pashley
        .sitemap-list-inside-item
          a(href="#" title="") Pelago
        .sitemap-list-inside-item
          a(href="#" title="") Vanmoof
    
    .sitemap-list-item
      a(href="#" title="") БЛОГ
    
    .sitemap-list-item
      a(href="#" title="") НОВОСТИ