mixin instagram
  .instagram.row.full.noGutter
    .columns
      img(src="http://veloculture.ru/uploads/instagram/f085cb1da3e020ec2b80d5013aaf7823.jpg")
    .columns
      img(src="http://veloculture.ru/uploads/instagram/30d20b4549079a66632dd717fbaddfe5.jpg")
    .columns
      img(src="http://veloculture.ru/uploads/instagram/28bd37261bfa7acde0e640c09fa32057.jpg")
    .columns
      img(src="http://veloculture.ru/uploads/instagram/c8b0c999cb7a96372f8e70871ac68a68.jpg")
    .columns
      img(src="http://veloculture.ru/uploads/instagram/62c291729c4ec47a8489f8ded82614d7.jpg")
    .columns
      img(src="http://veloculture.ru/uploads/instagram/996aaf14c996fdb80bff494b2e90fb7a.jpg")
    .columns
      img(src="http://veloculture.ru/uploads/instagram/6e9fd707d01e847337bafd0331aaa249.jpg")
    .columns
      img(src="http://veloculture.ru/uploads/instagram/9626f1f92b48308364592db3614c8bce.jpg")
    .columns
      img(src="http://veloculture.ru/uploads/instagram/49cd9a5c701d105b93b12ef138ec3a6c.jpg")
    .columns
      img(src="http://veloculture.ru/uploads/instagram/690d9557d035378f1b5715a546f66913.jpg")